<div class="head">
	<div class="heading"><a href="/community/communityProfile/<%= community.Id %>"><%= community.CommunityName %></a></div>
	<% if(!join){ %>
		<div class="join">
			<% if(!request){ %>
				<a href="/community/joinCommunity/<%= community.Id %>">
				<% if(community.MembershipRule == 'Direct'){ %>
					join
				<% } else { %>
					Ask To Join
				<% } %>
				<i class="fa fa-plus" style="font-size: 12px"></i></a>
			<% } else { %>
				<a class="Requested"> Requested </a>
			<% } %>
		</div>
	<% } %>
</div>
<div class="community">
	<span id="communityId" style="display: none"><%= community.Id %></span>
	<div class="image">
		<img src="/static/<%= community.CommunityPic %>">
	</div>
	<div class="communityName">
		<a href="/community/communityProfile/<%= community.Id %>"><%= community.CommunityName %></a>
	</div>
	<div class="dropdown">
		<i class="fa fa-bars"></i>
		<ul class="hidedropdown">
			<li><a href="">Discussions</a></li>
			<% if(data.Role != 'User'){ %>
				<li><a href="/community/managecommunity/<%= community.Id %>">Manage Community</a></li>
			<% } %>
			<li><a href="/community/communityprofile/<%= community.Id %>">Community Profile</a></li>
			<li><a href="/community/communitymembers/<%= community.Id %>">Community Members</a></li>
		</ul>
	</div>
</div>
<hr style="width: 90%;margin: 15px auto;background-color: rgba(0,0,0,0.1);height: 3px;border: none">