<div class="info">
	<form method="post" action="/updateProfilePic" enctype="multipart/form-data" id="profilePic">
		<div class="ProfilePic">
			<img src="/static/<%= data.Image %>">
			<input type="file" style="display:none" name="file">
			<span onclick="upload()">Change</span>
		</div>
	</form>
	<form action="/updateInfo" method="post" id="userData" onsubmit="updateProfilePic(event)">
		<div class="basicInfo">
			<div class="heading">
				Basic Info
			</div>
			<div class="basic">
				<span>Email : </span>
				<input type="email" class="Email" name="email" value="<%= data.Email %>" disabled>
				<span>Name : </span>
				<input type="text" class="name" name="name" value="<%= data.Name %>" required>
				<div>
					<div>
						<span>DOB : </span>
						<input type="text" class="dob" id="datepicker" name="dob" value="<%= data.DOB %>" required>
					</div>
					<div>
						<span>Gender : </span>
						<select required class="gender" name="gender" value="<%= data.Gender %>">
							<option>Male</option>
							<option>Female</option>
							<option>Transgender</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="basicInfo">
			<div class="heading">
				Contact Info
			</div>
			<div class="basic">
				<span>Phone : </span>
				<input type="text" class="phoneno" value="<%= data.Phno %>" name="phone" required>
				<span>City : </span>
				<input type="text" class="city" value="<%= data.City %>" name="city" required>
			</div> 
		</div>
		<div class="basicInfo">
			<div class="heading">
				Personal Info
			</div>
			<div class="basic">
				<span>Interests : </span>
				<input type="text" class="interests" name="interest" placeholder="Enter Interests">
				<span>Tell us a bit more about yourjourney : </span>
				<textarea class="userdetail" value="<%= data.About %>" name="about"></textarea>
				<span>what are your expectations from the communities? </span>
				<textarea class="expectations" value="<%= data.Expectations %>" name="expectations"></textarea>
			</div>
		</div>
		<div class="action">
			<button type="submit" class="update">Update</button><a href="" class="cancel">Cancel</a>
		</div>
	</form>
</div>
