<div style="margin-top: 30px" class="picDetail">
	<div class="profilePic"><img src="/static/default.png"></div>
	<% if(visible == true){ %>
		<div class="edit">
			<a href="editInformation">Edit</a>
		</div>
	<% } %>
	<div class="userDetails">
		<div class="detail">
			<div class="heading">Email</div>
			<div class="details"><%= data.Email %></div>
		</div>
		<div class="detail">
			<div class="heading">Gender</div>
			<div class="details"><%= data.Gender %></div>
		</div>
		<div class="detail">
			<div class="heading">Name</div>
			<div class="details"><%= data.Name %></div>
		</div>
		<div class="detail">
			<div class="heading">City</div>
			<div class="details"><%= data.City %></div>
		</div>
		<div class="detail">
			<div class="heading">D.O.B</div>
			<div class="details"><%= data.DOB %></div>
		</div>
		<div class="detail">
			<div class="heading">Phone no</div>
			<div class="details"><%= data.Phno %></div>
		</div>
	</div>
</div>