<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/TabbarAndNavbar2.css">
	<link rel="stylesheet" type="text/css" href="/static/navBar.css">
	<link rel="stylesheet" type="text/css" href="/static/communityAsUser.css">
	<link rel="stylesheet" type="text/css" href="/static/Switch.css">
	<link rel="stylesheet" type="text/css" href="/static/SearchBar.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
	<style type="text/css">
		.noCommunityFound{
			background-color: rgb(245,245,245);
			padding: 20px;
			border-radius: 5px;
		}
		.alert{
			font-weight: bolder;
			font-size: small;
			display: block;
			margin-bottom: 20px;
		}
		.moreCommunities{
			display: inline-block;
			border: 1px solid rgba(0,0,0,0.1);
			padding: 10px;
			background-color: white;
			font-size: 15px;
			color: rgba(0,0,0,0.7);
			text-decoration: none;
		}
	</style>
</head>
<body>
<div class="Container">
	<% include partials/navBar.ejs %>
	<div class="container2">
		<% if(data.Role == 'User'){ %>
			<% include partials/tabBar3.ejs %>
		<% }else{ %>
			<% if(data.LoginAs == 'Admin'){ %>
				<% include partials/tabBar.ejs %>
			<% }else{ %>
				<% include partials/tabBar2.ejs %>
			<% } %>
		<% } %>
		<div class="content">
			<div class="searchbar">
				<div class="communityButtons"><a class="fa fa-users" href="/community/communitypanel"></a><a href="/community/list" class="fa fa-search"></a></div>
			</div>
			<div class="list">
				<div class="myCommunity">
					<div class="heading">My Communities</div>
					<% if(data.Role != 'User'){ %>
						<div class="create"><a href="/community/Addcommunity">Create</a></div>
					<% } %>
				</div>
				<div class="communities">
					<% if(!community.length){ %>
						<div class="noCommunityFound">
							<span class="alert">No Communities found</span>
							<a href="/community/list" class="moreCommunities">Click here for more communities</a>
						</div>
					<% } else { %>
						<% community.forEach((value)=>{ %>
							<div class="community">
								<div class="CommunityImg">
									<img src="/static/<%= value.CommunityPic %>">
								</div>
								<div class="nameNreq">
									<span class="Name"><%= value.CommunityName %></span>&nbsp;&nbsp;&nbsp;
									<% if(value.CommunityOwner == data.Email){ %>
										<a href="/community/manageCommunity/<%= value.Id %>" class="req">Request(<%= value.TotalReq %>)</a>
									<% } else { %>
										<a href="/community/communitymembers/<%= value.Id %>" class="req">Members(<%= value.Members %>)</a>
									<% } %>
								</div>
								<% if(value.CommunityOwner == data.Email){ %>
									<div class="setting">
										<a href="/community/manageCommunity/<%= value.Id %>"><i class="fa fa-cogs"></i></a>
									</div>
								<% } %>
							</div>
						<% }) %>
					<% } %>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/static/Switch.js"></script>
<!-- <script type="text/javascript" src="/static/Switch2.js"></script> -->
<script type="text/javascript" src="/static/LogoutCover.js"></script>
<script type="text/javascript" src="/static/TabbarAndNavbar2.js"></script>
</body>
</html>