<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	<link rel="stylesheet" type="text/css" href="/static/TabbarAndNavbar2.css">
	<link rel="stylesheet" type="text/css" href="/static/navBar.css">
	<link rel="stylesheet" type="text/css" href="/static/Switch.css">
	<link rel="stylesheet" type="text/css" href="/static/SearchBar.css">
	<link rel="stylesheet" type="text/css" href="/static/commonCommunity.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/Discussion.css">
</head>
<body>
<div class="Container">
	<% include partials/navBar.ejs %>
	<div class="container2">
		<% include partials/tabBar3.ejs %>
		<div class="content">
			<% include partials/AboutCommunity.ejs %>
			<div class="discussionContainer">
				<div class="Discussionheading">
					<div class="communityPic">
						<img src="/static/default.png">
					</div>
					<div class="startADiscussion">
						Start a discussion
					</div>
				</div>
				<div class="DiscussionTitle">
					<input type="text" name="" placeholder="Enter a discussion title....">
				</div>
				<div class="discussionDetail">
					<textarea placeholder="Enter discussion details" onkeydown="textAreaAdjust(this)"></textarea>
					<div class="tag-conatiner-custom-div">
		              <select id="tagEditor" name="tags" class="form-control input-sm select2-multiple select2-hidden-accessible" style="width:100%" multiple="" tabindex="-1" aria-hidden="true">
		              	<% tags.forEach((value)=>{ %>
		                	<option><%= value.name %></option>
		                <% }) %>
		              </select>
		            </div>
					<div class="upload">
						<div>
							<i class="fa fa-image"></i>
						</div>
						<div style="text-align: right"><button class="Post">Post</button></div>
					</div>
				</div>
				<div class="footer">
					
				</div>
			</div>
			<% Topic.forEach((Topic)=>{ %>
				<div class="topic">
					<div class="action">
						<i class="fa fa-ellipsis-h"></i>
					</div>
					<div class="aboutTopic">
						<div class="title"><%= Topic.Topic %></div>
						<div class="postedUser">
							posted by <a href="/community/viewprofile/<%= Topic.CreatedBy %>"><%= Topic.UserName %></a> on Jun 10 2019
						</div>
						<div class="usedTags">
							<span>codequotient</span>
						</div>
						<div class="Ddetail">
							<%= Topic.About %>
						</div>
						<div style="margin: 10px 0px">
							<span class="Comment"><i class="fa fa-comment-alt" style="font-size: 15px"></i> <%= Topic.Comments %> Comments</span>
							<span class="hide">Hide</span>
						</div>
					</div>
					<div class="CommentsOnTopic">
						<% Comments.forEach((comment)=>{ %>
							<% if(comment.Ref == Topic.Id){ %>
								<div class="commentlevel1">
									<div class="userProfile">
										<img src="/static/default.png">
									</div>
									<div class="userComment">
										<div>
											<div>
												<a>Superman</a>
												<span style="margin: 0px 5px;" class="days" style="margin: 0px 5px;">2d</span>
												<i class="fa fa-trash"></i>
												<i class="fa fa-reply">(1)</i>
											</div>
											<div class="text">
												dfgh
											</div>
										</div>
										<% Comments.forEach((com)=>{ %>
											<% if(com.Ref == comment.Id){ %>
												<div class="commentlevel1">
													<div class="userProfile">
														<img src="/static/default.png">
													</div>
													<div class="userComment">
														<div>
															<div>
																<a>Superman</a>
																<span style="margin: 0px 5px;" class="days" style="margin: 0px 5px;">2d</span>
																<i class="fa fa-trash"></i>
																<!-- <i class="fa fa-reply">(1)</i> -->
															</div>
															<div class="text">
																dfgh
															</div>
														</div>
													</div>
												</div>
											<% } %>
										<% }) %>
									</div>
								</div>
								<div class="replyComment">
									<textarea placeholder="reply to this comment..."></textarea>
									<button>Reply</button>
								</div>
							<% } %>
						<% }) %>
						<div class="commentOnTopic">
							<div style="width: 100px">
								<img src="/static/default.png">
							</div>
							<div style="flex: 1;padding: 10px;box-sizing: border-box;">
								<input type="" name="" class="textBox" style="width: 100%">
							</div>
							<div style="width: 50px">
								<button>Post</button>
							</div>
						</div>
					</div>
				</div>
			<% }) %>
		</div>
	</div>
</div>
<script type="text/javascript" src="/static/Switch.js"></script>
<script type="text/javascript" src="/static/LogoutCover.js"></script>
<script type="text/javascript" src="/static/TabbarAndNavbar2.js"></script>
<script type="text/javascript" src="/static/aboutCommunity.js"></script>
<script type="text/javascript">
	var width = 10;
	$(document).ready(function() {
	    $('#tagEditor').select2({
	      "placeholder" : "Enter tag..."
	    });
	})
	function textAreaAdjust(o) {
	  o.style.height = "1px";
	  o.style.height = (25+o.scrollHeight)+"px";
	}
</script>

<script type="text/javascript">
	function showTopics(){
		// var a = <%= 
		var req = new XMLHttpRequest()
		req.onload = ()=>{
			
		}
		req.open()
		req.send()
	}
</script>

</body>
</html>