<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/commonCommunity.css">
	<link rel="stylesheet" type="text/css" href="/static/TabbarAndNavbar2.css">
	<link rel="stylesheet" type="text/css" href="/static/switch.css">
	<link rel="stylesheet" type="text/css" href="/static/navBar.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/manageCommunity.css">
	<style type="text/css">
		.noUserFound{
			padding: 10px;
			text-align: center;
			border: 1px solid #ccc;
			border-radius: 5px;
			font-weight: bolder;
			font-size: 15px;
			box-sizing: border-box;
		}
	</style>
	<style type="text/css">
		.option{
			position: relative;
			display: inline-block;
		}
		.option > .optionButton{
			display: inline-block;
			border: 1px solid rgba(0,0,0,0.5);
			color: rgba(0,0,0,0.7);
			padding: 8px 12px;
			cursor: pointer;
			background-color: white;
			outline: none;
		}
		.option > .optionButton:hover{
			background-color: rgb(230,230,230) !important;
		}
		.option > .optionButton:active{
			box-shadow: inset 1px 1px 5px rgba(0,0,0,0.5);
		}
		.activeOption{
			background-color: rgb(230,230,230) !important;
		}
		.options{
			position: absolute;
			width: 150px;
			top: -5px;
			right: 0;
			transform: translateY(-100%);
			display: inline-block;
			list-style: none;
			padding: 0;
			margin: 0;
			border: 1px solid rgba(0,0,0,0.5);
			border-radius: 5px;
			overflow: hidden;
			box-sizing: border-box;
			box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
			background-color: white;
			text-align: left;
			display: none;
		}
		.showOptions{
			display: block;
		}
		.options > li{
			padding: 2px 20px;
			color: #888888;
			margin: 5px 0;
			cursor: pointer;
			box-sizing: border-box;
		}
		.options > li:hover{
			background-color: rgb(243,244,244);
			border-radius: 5px;
		}
	</style>
</head>
<body>
<div class="Container">
	<% include partials/navBar.ejs %>
	<div class="container2">
		<% if(data.Role == 'User'){ %>
			<% include partials/tabBar3.ejs %>
		<% }else{ %>
			<% include partials/tabBar2.ejs %>
		<% } %>
		<div class="content">
			<% include partials/AboutCommunity.ejs %>
			<% include partials/manageCommunity.ejs %>
			<div class="userslist">
				<div class="userstype">
					<div class="noOfUsers" onclick="showMembers('<%= community._id %>')">Users (<span class="usersNo"><%= community.User %></span>)</div>
					<div class="noOfAdmins" onclick="showAdmins('<%= community._id %>')">Admins (<span class="adminsNo"><%= community.Members - community.User %></span>) </div>
					<% if(community.MembershipRule != 'Direct') { %>
						<div onclick="showRequests('<%= community._id %>')" class="request">Requests (<span class="ReqNo"><%= community.TotalReq %></span>)</div>
					<% } %>
					<div onclick="showInvitedUsers('<%= community._id %>')" class="invitedusers">Invited Members (<span class="invitedNo"><%= community.Invited %></span>)</div>
				</div>
				<div class="users">
					
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/static/TabbarAndNavbar2.js"></script>
<script type="text/javascript" src="/static/switch.js"></script>
<script type="text/javascript" src="/static/aboutCommunity.js"></script>
<script type="text/javascript" src="/static/manageCommunity.js"></script>
<script type="text/javascript" src="/static/LogoutCover.js"></script>
<script type="text/javascript">
	var element;

	function acceptReq(){
		var req = new XMLHttpRequest()
		var data = {
			user: element.parentElement.parentElement.parentElement.firstElementChild.textContent.trim()
		}
		req.onload = ()=>{
			document.querySelector('.ReqNo').innerHTML = parseInt(document.querySelector('.ReqNo').innerHTML) - 1
			document.querySelector('.usersNo').innerHTML = parseInt(document.querySelector('.usersNo').innerHTML) + 1
			showRequests()
		}
		req.open('POST',`/community/acceptReq/${document.querySelector('#communityId').textContent}`)
		req.setRequestHeader("Content-Type", "application/json");
		req.send(JSON.stringify(data))
	}

	function showOptions(event){
		element = event.target
		if(document.querySelector('.showOptions')){
			document.querySelector('.showOptions').classList.remove('showOptions')
			document.querySelector('.activeOption').classList.remove('activeOption')
		}else{
			event.target.nextElementSibling.classList.toggle('showOptions')
			event.target.classList.toggle('activeOption')
		}
	}
</script>
</body>
</html>